<!DOCTYPE html>
<html>
    <head>
            {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
            <script src="{{ asset('js/jquery.min.js') }}"></script>
            <script src="{{ asset('js/bootstrap.js') }}"></script>
            {% endblock %}
    </head>
    <body>
        
        
    <div class="col-sm-3 col-sm-offset-11">
        <a href="#" class="btn btn-primary btn-lg top-button position-absolute " role="button" >{{ app.user.username }}</a>
    </div>
    <div class="container">
        <h1 >Liste des demandes de congé / d'absence </h1>
        <div class="container">
          <table class="table active">
            <thead>
              <tr class = "success">
                <th>Type</th>
                <th>Employé</th>
                <th>raison</th>
                <th>valider</th>
                <th>refuser</th>
              </tr>
            </thead>
        {% for Leave in listLeave %}     
            <tbody>
              <tr>
                <td>{{ Leave.type }}</td>
                <td>{{ Leave.employee.userName }}</td>
                <td>{{ Leave.reason}}</td>
                <td><a class="btn btn-success btn-lg active" role="button" href="/intranet/leave-validation/y/{{ Leave.id }}">valider</a></td>
                <td><a class="btn btn-danger btn-lg active" role="button" href="/intranet/leave-validation/n/{{ Leave.id }}">refuser</a></td>
                </form>
              </tr>

            </tbody>
        {% endfor %}
          </table>
        </div>

                           

        <!--
            {{ include("AppBundle:general:navbar.html.twig") }}
            {{ include("AppBundle:general:sidebar.html.twig") }}

                    <div class="core">  
                        <h1 >Liste des demandes de congé / d'absence </h1>
                                {% for Leave in listLeave %}    
                                
                             
                                {% if is_granted('ROLE_HR') %}
                                    <h2>{{ Leave.type }} demandée par {{ Leave.employee.userName }}</h2>
                                    du {{ Leave.startDate |date("m/d/Y") }} jusqu'à  {{ Leave.endDate |date("m/d/Y") }} <br/><br/>
                                    pour la raison suivante:
                                     <strong>{{ Leave.reason}}</strong>

                                    <form  action ='/intranet/leave-validation'>
                                        <br/><br/>valider<br/><br/>
                                        <div class="form-group">
                                            <input type="radio" id ="validation" name="isvalid" value="y">valider
                                            <input type="radio" id ="validation" name="isvalid" value="n" checked>refuser<br>
                                            pour quelle raison
                                            <input type="text" id ="refuse_reason" name="refuse_reason"  checked><br>
                                            <input  class="form-control" type="hidden" name="leaveId" value="{{ Leave.id }}">
                                            <button type="submit" class="btn btn-primary">Valider</button>                            </div>
                                    </form>
                                {% endif %} 
                                {% endfor %}
                    </div>









              {% for Leave in listLeave %}     
                                    <h2>{{ Leave.type }} demandée par {{ Leave.employee.userName }}</h2>
                                    du {{ Leave.startDate |date("m/d/Y") }} jusqu'à  {{ Leave.endDate |date("m/d/Y") }} <br/><br/>
                                    pour la raison suivante:
                                     <strong>{{ Leave.reason}}</strong>

                                    <form  action ='/intranet/leave-validation'>
                                        <br/><br/>valider<br/><br/>
                                        <div class="form-group">
                                            <input type="radio" id ="validation" name="isvalid" value="y">valider
                                            <input type="radio" id ="validation" name="isvalid" value="n">refuser<br>
                                            pour quelle raison
                                            <input type="text" id ="refuse_reason" name="refuse_reason"  checked><br>
                                            <input  class="form-control" type="hidden" name="leaveId" value="{{ Leave.id }}">
                                            <button type="submit" class="btn btn-primary">Valider</button>                            </div>
                                    </form>
                                {% endfor %}       
            -->
        </div>
    </body>
</html>
