{% extends "default/layout.html.twig" %}

{% set title = "Solde de congés" %}
{% set profile = "profile" %}



{% block content %}
<section class="content-header">
    <h1>
        Mon solde de congés
        <small></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-users"></i> Espace RH</a></li>
        <li><a href="#">Congé</a></li>
        <li class="active">Mon solde</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <center>
                        <a type="button" class="btn btn-default btn-flat" href="/intranet/my-vacation-requests"> Mes congés </a>
                        <a type="button" class="btn btn-default btn-flat disabled "> Mon solde </a>
                        {% if is_granted('ROLE_HR') %}
                        <a type="button" class="btn btn-default btn-flat "
                           href="/intranet/hrm/vacation-requests">Liste des demandes
                        </a>
                        <a type="button" class="btn btn-default btn-flat " href="/intranet/hrm/vacation-setting">  Parrametrage Congés   </a>
                        {% endif %}
                    </center>
                    <div class="text-right">
                        <a type="button" href="/intranet/request-a-vacation"
                           class="btn btn-success btn-flat">Demander congé
                        </a>
                    </div>
                </div>
                <div class="box-header">


                    <div class="col-sm-4">
                    </div>
                    <div class="col-sm-4">
                        <h1 >{{ 'year'|trans|capitalize }} : <span id="year-balance"></span> </h1>
                    </div>
                </div>

                <div class="box-body">
                    <table id="example2" class="table table-bordered table-hover">
                        <thead>
                        <tr class="success">
                            <th>{{ 'month'|trans|capitalize }}</th>
                            <th>{{ 'balance.at.first'|trans|capitalize }}</th>
                            <th>{{ 'vacation.requests.duration'|trans|capitalize }}</th>
                            <th>{{ 'balance.left'|trans|capitalize }}</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for year in years %}
                            {% for month in year %}
                            <tr>
                                <td>{{ date('2019-' ~ loop.index ~ '-01') |date('M')|trans|capitalize }}</td>
                                <td>{{ month[0] }}</td>
                                <td>
                                    {% if month[1] != "X" %}
                                    {{ month[0]|round(1, 'floor') - month[1]|round(1, 'floor')  }}
                                    {% else %}
                                        X
                                    {% endif %}
                                </td>
                                <td>{{ month[1] }}</td>
                            </tr>
                            {% endfor %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}


{% block script %}
<script src="{{ asset('bower_components/datatables.net/js/jquery.dataTables.min.js') }}"></script>
<script src="{{ asset('bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js') }}"></script>
<script>
    $(document).ready(function () {
        $('.sidebar-menu').tree();
        $('.paginate_button').click(function() {
            alert('test');
        });
        $('#year-balance').html(new Date().getFullYear());
        $(function () {
            var table = $('#example2').DataTable({
                'paging': true,
                'lengthChange': false,
                'pageLength':12,
                'searching': false,
                'ordering': false,
                'info': false,
                'autoWidth': false
            });
            $('#example2').on( 'page.dt', function () {
                var info = table.page.info();
                $('#year-balance').html(new Date().getFullYear()-info.page);
            } );
        });
    });

</script>
{% endblock %}

