<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Hiit Consulting | Demander congé 
</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <!-- Bootstrap 3.3.7 -->
  <link rel="stylesheet" href="../../bower_components/bootstrap/dist/css/bootstrap.min.css">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="../../bower_components/font-awesome/css/font-awesome.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="../../bower_components/Ionicons/css/ionicons.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="../../dist/css/AdminLTE.min.css">
  <!-- AdminLTE Skins. Choose a skin from the css/skins
       folder instead of downloading all of them to reduce the load. -->
  <link rel="stylesheet" href="../../dist/css/skins/_all-skins.min.css">
  <!-- Select2 -->
  <link rel="stylesheet" href="../../bower_components/select2/dist/css/select2.min.css">
  <!-- Datepicker -- >
  <link rel="stylesheet" href="../../bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

  <!-- Google Font -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
  <style>
      .spc{margin-right: 30px;}
  </style>
</head>

  <!-- DataTables -->
<link rel="stylesheet" href="../../bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">
<body class="hold-transition skin-blue sidebar-mini">
<!-- Site wrapper -->
<div class="wrapper">

  <div class="content-wrapper">  



    <!-- Main content -->

    <section class="content">

          <!-- /.box -->    
          <div class="box box-default">
            <div class="box-body">
                {{ form_start(form) }}
                <div class="row">
                     <div class="col-sm-6 col-xs-12">                     
                      <div class="form-group" style="width: 90%;">

                         {{ form_label(form.startDate) }}
                         <div class="input-group date">
                             <div class="input-group-addon">
                                 <i class="fa fa-calendar"></i>
                             </div>
                             {{ form_widget(form.startDate, {'attr':{
                                 'class':'form-control pull-right datepicker'
                             }}) }}
                         </div>
                      </div>
                     </div>
                     
                    <div class="col-sm-6 col-xs-12">
                      <div class="form-group" >
                        <label class="spc"> Période : </label>
                        <label for = "time1" class="spc" > <input type="radio" id = "morning_start" name="time_start" value="morning" /> Matin</label>
                         
                        <label for = "time2"  class="spc"><input type="radio" id = "afternoon_start" name="time_start" value="afternoon" checked/> Aprem </label>                      
                      </div>
                    </div>
                </div> 
                <div class="row">
                      <div class=" col-sm-6 col-xs-12">
                      <div class="form-group " style="width: 90%;">
                         {{ form_label(form.endDate) }}
                         <div class="input-group date">
                             <div class="input-group-addon">
                                 <i class="fa fa-calendar"></i>
                             </div>
                             {{ form_widget(form.endDate, {'attr':{
                                 'class':'form-control pull-right datepicker'
                             }}) }}
                         </div>
                      </div>
                     </div>
                    <div class="col-sm-6 col-xs-12">
                      <div class="form-group" >
                        <label class="spc"> Période : </label>
                        <label for = "morning_end" class="spc" > <input type="radio" id = "morning_end" name="time_end" value="morning" checked/> Matin</label>
                         
                        <label for = "afternoon_end"  class="spc"><input type="radio" id = "afternoon_end" name="time_end" value="afternoon" /> Aprem </label>                      
                      </div>
                    </div>
                </div>
                <div class="row">
                     <div class="col-sm-6 col-xs-12">                     
                      <div class="form-group" style="width: 50%;">
                           {{ form_label(form.type) }}
                           {{ form_widget(form.type ,{'attr':{
                            'class':'form-control select2'
                           }}) }}
                      </div>
                     </div>
                     
                     <div class="col-sm-6 col-xs-12">
                      <div class="form-group">
                      <label>Minimal</label>
                      <select class="form-control select2" style="width: 50%;">
                        <option selected="selected">Alabama</option>
                        <option>Alaska</option>
                        <option>California</option>
                        <option>Delaware</option>
                        <option>Tennessee</option>
                        <option>Texas</option>
                        <option>Washington</option>
                      </select>
                    </div>
                    </div>                

            </div>
               {% do form.refuseReason.setRendered %}
               {% do form.reason.setRendered %}
               {{ form_end(form) }}
            </div>
      





    </section>
</div>
<!-- ./wrapper -->



<!-- jQuery 3 -->
<script src="../../bower_components/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap 3.3.7 -->
<script src="../../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- DataTables -->
<script src="../../bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="../../bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<!-- SlimScroll -->
<script src="../../bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
<!-- FastClick -->
<script src="../../bower_components/fastclick/lib/fastclick.js"></script>
<!-- Dateflicker-->
<script src="../../bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
<!-- AdminLTE App -->
<script src="../../dist/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="../../dist/js/demo.js"></script>
<!-- page script -->

<script src="../../bower_components/select2/dist/js/select2.full.min.js"></script>
<!-- Select2 -->


<script>
  $(document).ready(function () {
  
   $('.select2').select2();

   $('.datepicker').datepicker({
     autoclose: true
   });

   $('.sidebar-menu').tree();

  });



</script>
</script>
</body>
</html>
