<html>

    <head>


            <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
            <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>
            <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
            <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

            {% block stylesheets %}
            
            <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
            <script src="{{ asset('js/jquery.min.js') }}"></script>
            <script src="{{ asset('js/bootstrap.js') }}"></script>
            {% endblock %}

            <link href="{{ asset('css/sidebar.css') }}" rel="stylesheet" id="bootstrap-css">

            <style>            
                .core {overflow: auto;position: absolute;top: 50px;left : 25%; width: 75%;height: 100%;}
                .core-container {position: relative;top-margin: 50px;margin: auto;width: 95%;height: 100%;}
            </style>
 
            <style>.borderless td, .borderless th {border: 0!important; } .alignement button{vertical-align: middle} </style>
            <style>
                .row-bordered:after  {
                  content: "";
                  display: block;
                  border-bottom: 3px solid #aebece;
                }
            </style>
    </head>
    <body>

      {{ include("AppBundle:general:navbar2.html.twig") }}
      {{ include("AppBundle:general:sidebar2.html.twig") }}
    <div class="core">    
    <div class="core-container">  
    <div class="row row-bordered">
      <h2>Demander congé</h2>
    </div> 
    <div class="container">    
           

                    <br/>
                    <br/>

                            {{ form_start(form) }} 
                            {{ form_widget(form._token) }}
                                    {{ form_errors(form) }}
    <div class="container">    
        <table class="table active borderless" >
            <tr>
                <td class="col-md-1">
                    Date debut
                </td>
                <td class="col-md-2">
                    {{ form_widget(form.startDate) }}
                </td>
                <td class="col-md-3" rowspan=2>
                    Type :<br/>
                    {{ form_widget(form.type) }}
                </td>

            </tr>
            <tr>

                <td class="col-md-1">
                    Date fin
                <td class="col-md-2">
                    {{ form_widget(form.endDate) }}
                </td>
                <td class="col-md-1"></td>

                </td>
            </tr>
        </table>
                
                <div class="container">

                    <button  class="btn btn-danger btn-login-submit alignement"> Annuler </button>
            
                    <button type="submit" class="btn btn-primary btn-login-submit alignement"> Demander </button>
                </div>

        </div>
    </div>   
            </div>
    </div>    
<!--
        {{ form_start(form) }} 
        {{ form_widget(form._token) }}
        {{ form_errors(form) }}
        <table>
            <tr>
                <td>
                    Date debut
                </td>
                <td>
                    {{ form_row(form.startDate) }}
                </td>
                <td>
                    {{ form_row(form.type) }}
                </td>

            </tr>
                <td>
                    Date fin
                </td>
                <td>
                    {{ form_row(form.endDate) }}
                </td>
                <td>

                </td>
            <tr>
            </tr>
        </table>
            <button type="submit"> Demander </button>
       -->
    </body>
</html>
