{% extends "default/layout.html.twig" %}

{% set title = "Notifications" %}
{% set profile = "profile" %}


{% block stylesheet %}
    <link rel="stylesheet" href="../../bower_components/select2/dist/css/select2.min.css">
    <link rel="stylesheet" href="../../bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">
    <link rel="stylesheet" href="{{ asset('intra/css/notification.css') }}">
    <style>.spc{margin-right: 50px;}

        .list-group .list-group-item {
            border-bottom: 1px;
            border-left: 0px;
            border-right: 0px;
        }
        .list-group .list-group-item:last-child {
            border-bottom: 0;
        }
        .list-group .list-group-item:first-child {
            border-top: 0;
        }
    </style>>
{% endblock %}


{% block content %}



    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Votres notifications
            <small></small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-users"></i> Espace RH</a></li>
            <li><a href="#">Congé</a></li>
            <li class="active">Demander congé </li>
        </ol>
    </section>

    <!-- Main content -->

    <section class="content">

        <div class="box">
            <div class="box-header">

            </div>

            <!-- /.box-header -->



            <ul class="list-group">
                {% for lastTeenNotification in lastTeenNotifications %}
                <li class="list-group-item" id = "{{ lastTeenNotification.id }}">
                    <a href="{{ lastTeenNotification.notification.url }}">
                        {{ lastTeenNotification.notification.message }}</a>
                </li>
                {% endfor %}
            </ul>

            <!--'<li id = "'+notificationId+'"class="'+seen+'">' +
                '<a href="#"><i class="fa fa-users text-aqua"></i>'+
                    notifications[indice].notification.message+
                    '</a></li>');
            -->
            <!-- /.box-body -->
            <div class="box-footer">
            </div>
        </div>
        </div>
    </section>


{% endblock %}


{% block script %}
    <script src="../../bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
    <!-- Intranet scripts-->
    <script src="{{ asset('intra/js/notification.js') }}"></script>
{% endblock %}


  {% block javascript %}
  {% endblock %}
