<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>HiitConsulting | Changer mot de passe</title>
    <link rel="stylesheet" href="../../bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../dist/css/AdminLTE.min.css">


    <!-- Google Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<body class="hold-transition login-page">
<div class="login-box">
    <div class="login-logo">
        <a href="../../index2.html"><b>Hiit </b>Consulting</a>
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body">
        <p class="login-box-msg">Changer mot de passe</p>
        {{ form_start(form) }}
        <div class="form-group has-feedback">
            {{ form_label(form.current_password) }}
            {{ form_widget(form.current_password, {'attr':{

                'class':'form-control'
            }}) }}
        </div>
        <div class="form-group has-feedback">
                {{ form_label(form.plainPassword.first) }}
                {{ form_widget(form.plainPassword.first, {'attr':{
                    'class':'form-control'
                }}) }}
            </div>
        <div class="form-group has-feedback">
                {{ form_label(form.plainPassword.second) }}
                {{ form_widget(form.plainPassword.second, {'attr':{

                    'class':'form-control'
                }}) }}
            </div>
            <div class="row">
                <div class="col-xs-12 col-xs-12">
                    <button type="submit" class="btn btn-primary btn-block btn-flat">Envoyer</button>
                </div>
            </div>
            {{ form_end(form) }}
    </div>
</div>
</body>
</html>




