{% extends "default/layout.html.twig" %}

{% set title = "Fiche collaborateur" %}
{% set profile = "profile" %}
{% if employee.avatar is not null %}{% set avatarUrl ="/intranet/file/avatar/" ~ employee.avatar.id  %}{% else %}{% set avatarUrl ='/uploads/img/avatar/default_avatar.png'  %}{% endif %}

{% block stylesheet %}

{% endblock %}


{% block content %}

    <!-- Content Wrapper. Contains page content -->
    <section class="content">

        <div class="box box-widget widget-user">
            <div class="widget-user-header bg-black flat">
                <h5 class="widget-user-desc"><i class="fa fa-at"></i> Email: {{ employee.email }}</h5>
                <h5 class="widget-user-desc"><i class="fa fa-file-text"></i> status: {{ employee.status }}</h5>
                <h5 class="widget-user-desc"><i class="fa fa-phone"></i>  Tel: {{ employee.phoneNumber }}</h5>
            </div>
            <div class="widget-user-image">
                <img class="img-circle" alt="User Avatar" src={{ avatarUrl }}>
            </div>
            <div class="box-footer">
                <div class="row">
                    <div class="col-sm-12 col-sm-offset- ">
                        <div class="description-block">
                            <h3>{{ employee.firstName }} {{ employee.lastName }}</h3>
                            <h4 class="widget-user-desc">{{ employee.currentPosition }}</h4>
                            <span class="description-text">{{ lastFormations.organization }}
                                . {{ lastFormations.speciality }}</span>
                            <span class="description-text"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Main content -->

    <section class="content">


        <ul class="timeline">
            <li>
                {% if profileOwner or projects|length >0  %}
                    <i class="fa fa-calendar-check-o bg-red"></i>
                {% endif %}
                <div class="timeline-item flat">
                    {% for project in projects %}
                        <h3 class="timeline-header">
                            <div class="row">
                                <div class="col-sm-8 col-xs-8" id="project-title-id">
                                    {{ project.name }}
                                </div>
                                {% if profileOwner %}
                                <div class="col-sm-4 col-xs-4" align="right">
                                    <a class="edit-item" id ="edit-project-{{ project.id }}"><i class="fa fa-edit" style="color:dodgerblue"></i></a>
                                    <a class="delete-item">  <i class="fa fa-trash" style="color:darkred"></i></a>
                                </div>
                                {% endif %}
                            </div>
                        </h3>
                        <div class="timeline-body">
                            <div class="row edit-form-holder"  id="project-{{ project.id }}-edit-form-holder">

                            </div>
                            <div class="project-body-holder"  id="project-{{ project.id }}-body-holder">
                                <p id="project-date-{{ project.id }}"> {{ project.date|date("Y") }}</p>
                                <p id="project-description-{{ project.id }}"> {{ project.description }}</p>
                            </div>
                        </div>
                    {% endfor %}
                    {% if profileOwner %}
                        <div id="project-form-holder" class="hidden">
                            {{ form_start(projectForm, {'attr': {'id': 'projectForm'}}) }}
                            <div class="box-header with-border">
                                <h3 class="timeline-header"> {{ 'new.project'|trans|capitalize }} </h3>
                            </div>
                            <div class="box-body">
                                <div class="row">
                                    <div class='col-sm-6 col-xs-12'>
                                        <div class='form-group'>
                                            {{ form_label(projectForm.name, 'name'|trans|capitalize) }}
                                            {{ form_widget(projectForm.name, {'attr':{
                                                'class':'form-control'
                                            }}) }}
                                        </div>
                                    </div>
                                    <div class='col-sm-6 col-xs-12'>
                                        <div class='form-group'>
                                            {{ form_label(projectForm.date, 'date'|trans|capitalize) }}
                                            <div class='input-group date'>
                                                <div class='input-group-addon'>
                                                    <i class='fa fa-calendar'></i>
                                                </div>
                                                {{ form_widget(projectForm.date, {'attr':{
                                                    'class':'form-control pull-right datepicker'
                                                }}) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class='col-sm-12 col-xs-12'>
                                        <div class='form-group'>
                                            {{ form_label(projectForm.description, 'name'|trans|capitalize) }}
                                            {{ form_widget(projectForm.description, {'attr':{
                                                'class':'form-control'
                                            }}) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a id="cancel-adding-new-project" class="btn btn-default flat col-sm-6 col-xs-6">
                                {{ 'cancel'|trans|capitalize }}
                            </a>
                            <button type="submit" class="btn btn-default flat col-sm-6 col-xs-6"
                            >{{ 'submit'|trans|capitalize }}
                            </button>
                            {{ form_end(projectForm) }}
                        </div>
                        <a class="btn btn-default flat col-sm-12 col-xs-12 "
                           id="add-project"
                        >{{ 'add.project'|trans|capitalize }}</a>
                    {% endif %}
                </div>
            </li>
        </ul>
    </section>
{% endblock %}

{% block script %}
    {# <script src="{{ asset('https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')}}"></script>#}
    <script src="{{ asset('bower_components/select2/dist/js/select2.full.min.js') }}"></script>
    <script src="{{ asset('bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js') }}"></script>
    <script>
        jQuery(document).ready(function () {
            $('.select2').select2();

            $('.datepicker').datepicker({
                autoclose: true
            });

            $('.edit-item').click(function () {
                var item = $(this).attr('id').split('-')[1];
                var itemId = $(this).attr('id').split('-')[2];
                $.ajax({
                    url: '/intranet/update/'+item+'/'+itemId,
                    method: 'GET',
                    success(data){
                        $('#'+item+'-'+itemId+'-body-holder').addClass('hidden');
                        $('#'+item+'-'+itemId+'-edit-form-holder').html(data);
                        editActions(item, itemId);
                        $('.datepicker').datepicker({
                            autoclose: true
                        });
                        $('.select2').select2();

                    },
                });
            });

            function cancelUpdate(item, id)
            {
                $('#update-'+item+'-cancel-'+id).click(function () {
                    $('#'+item +'-'+id+'-edit-form-holder').empty();
                    $('#'+item +'-'+id+'-body-holder').removeClass('hidden');
                });
            }
            function submitUpdate()
            {
                $('.update-project-action').click(function () {
                   $(this).closest("form").submit();
                })
            }
            function editActions(item, id)
            {
                cancelUpdate(item,id);
                submitUpdate(item,id);
            }

            $('.delete-item').click(function () {
                alert('test')
            });

            jQuery('#add-formation').click(function (e) {
                jQuery('#formation-form-holder').removeClass('hidden');
                jQuery(this).addClass('hidden');
            });

            jQuery('#add-language').click(function (e) {
                jQuery('#language-form-holder').removeClass('hidden')
                jQuery(this).addClass('hidden');
            });

            jQuery('#add-experience').click(function (e) {
                jQuery('#experience-form-holder').removeClass('hidden')
                jQuery(this).addClass('hidden');
            });

            jQuery('#add-project').click(function (e) {
                jQuery('#project-form-holder').removeClass('hidden')
                jQuery(this).addClass('hidden');
            });

            jQuery('#cancel-adding-new-experience').click(function (e) {
                jQuery('#experience-form-holder').addClass('hidden')
                jQuery('#add-experience').removeClass('hidden');
            });

            jQuery('#cancel-adding-new-language').click(function (e) {
                jQuery('#language-form-holder').addClass('hidden')
                jQuery('#add-language').removeClass('hidden');
            });

            jQuery('#cancel-adding-new-formation').click(function (e) {
                jQuery('#formation-form-holder').addClass('hidden')
                jQuery('#add-formation').removeClass('hidden');
            });

            jQuery('#cancel-adding-new-project').click(function (e) {
                jQuery('#project-form-holder').addClass('hidden')
                jQuery('#add-project').removeClass('hidden');
            });

        });

    </script>
{% endblock %}
