<div class="box box-success box-solid flat ">
    <div class="box-header with-border">
        <h3 class="box-title">Nouvelle experience</h3>

        <div class="box-tools pull-right">
            <a  class="removing btn btn-box-tool" ></a>
        </div>
        <!-- /.box-tools -->
    </div>
    <!-- /.box-header -->
    <div class="box-body">

        <div class='col-sm-4 col-xs-12'>
            <div class='form-group'>
                {{ form_label(item.position) }}
                {{ form_widget(item.position, {'attr':{
                    'class':'form-control'
                }}) }}
            </div>
        </div>
        <div class='col-sm-4 col-xs-12'>
            <div class='form-group' >
                {{ form_label(item.description) }}
                {{ form_widget(item.description, {'attr':{
                    'class':'form-control'
                }}) }}
            </div>
        </div>
        <div class='col-sm-4 col-xs-12'>
            <div class='form-group' >
                {{ form_label(item.startDate) }}
                {{ form_widget(item.startDate, {'attr':{
                    'class':'form-control'
                }}) }}
            </div>
        </div>
        <div class='col-sm-4 col-xs-12'>
            <div class='form-group'>
                {{ form_label(item.endDate) }}
                <div class='input-group date'>
                    <div class='input-group-addon'>
                        <i class='fa fa-calendar'></i>
                    </div>
                    {{ form_widget(item.endDate, {'attr':{

                        'class':'form-control pull-right datepicker'
                    }}) }}
                </div>
            </div>
        </div>
        <div class='col-sm-4 col-xs-12'>
            <div class='form-group'>
                {{ form_label(item.city) }}
                <div class='input-group date'>
                    <div class='input-group-addon'>
                        <i class='fa fa-calendar'></i>
                    </div>
                    {{ form_widget(item.city, {'attr':{

                        'class':'form-control pull-right datepicker'
                    }}) }}
                </div>
            </div>
        </div>
    </div>
</div>